<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Career Highlights</h3>
	</div>
	<div class="panel-body">
		<ul>
			<% @athlete.medals.each do |medal| %>
				<li><small><%= medal.event.name %> <%= medal.sport.name %> <%= medal.color %></small></li>
			<% end %>
		</ul>
	</div>
</div>