<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Career Highlights</h3>
	</div>
	<div class="panel-body">
		<ul>
			<li>Great win</li>
			<li>And another</li>
		</ul>
	</div>
</div>