<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Tale of the Tape</h3>
	</div>
	<div class="panel-body">
		<dl>
			<dt>Age</dt>
			<dd>30 (birthday)</dd>
			<dt>Height</dt>
			<dd><%= height_for_display(@athlete) %></dd>
			<dt>Weight</dt>
			<dd><%= weight_for_display(@athlete) %></dd>
		</dl>  
	</div>
</div>