<% title "Galleries" %>

<br/>

<div class='row'>

  <% @galleries.in_groups_of(4,false) do |galleries| %>
    <% galleries.each do |gallery| %>
      <div class='col-md-3'>
          <%= link_to image_tag(gallery.photos.first.image_url(:fill).to_s, :class => "img-rounded"), gallery %>
          <p>
            <%= link_to gallery.name, gallery %> (<%= gallery.photos.count %> photos)
          </p>
      </div>
    <% end %>
    <br/><br/>
  <% end %>

</div>

<br/>