<% javascript('flipclock') %>

<div class="clock"></div>

<script type="text/javascript">

    var currentDate = new Date();
    var futureDate  = new Date("February 17, 2017 14:00 EST");
    var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;

    clock = $('.clock').FlipClock(diff, {
        clockFace: 'DailyCounter',
        countdown: true,
        showSeconds: false
    });

</script>