<div class="row">

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Darts</h3>
			</div>
			<div class="panel-body">
				<table class="table table-condensed">
					<thead>
						<tr><th>Group A</th><th>Group B</th></tr>
					</thead>
					<tbody>
						<tr><td>Radtke, Mark</td>	<td>Tornetta, Keith</td></tr>
						<tr><td>Dixon, Doug</td>	<td>Rogers, Greg</td></tr>
						<tr><td>Louka, Rob</td>	<td>Murphy, Dave</td></tr>
						<tr><td>Dixon, Jeremy</td>	<td>Benchoff, AJ</td></tr>
						<tr><td>Pearson, Jeff</td>	<td>Beltran, Jose</td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Foosball</h3>
			</div>
			<div class="panel-body">
				<table class="table table-condensed">
					<thead>
						<tr><th>Group A</th><th>Group B</th></tr>
					</thead>
					<tbody>
						<tr><td>Rogers, Greg</td>	<td>Louka, Rob</td></tr>
						<tr><td>Radtke, Mark</td>	<td>Dixon, Jeremy</td></tr>
						<tr><td>Dixon, Doug</td>	<td>Pearson, Jeff</td></tr>
						<tr><td>Benchoff, AJ</td>	<td>Murphy, Dave</td></tr>
						<tr><td>Tornetta, Keith</td>	<td>Beltran, Jose</td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Golden Tee</h3>
			</div>
			<div class="panel-body">
				<table class="table table-condensed">
					<thead>
						<tr><th>Group A</th><th>Group B</th></tr>
					</thead>
					<tbody>
						<tr><td>Dixon, Doug</td>	<td>Dixon, Jeremy</td></tr>
						<tr><td>Tornetta, Keith</td>	<td>Murphy, Dave</td></tr>
						<tr><td>Benchoff, AJ</td>	<td>Louka, Rob</td></tr>
						<tr><td>Rogers, Greg</td>	<td>Radtke, Mark</td></tr>
						<tr><td>Benchoff, Kate</td>	<td>Beltran, Jose</td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Ping Pong</h3>
			</div>
			<div class="panel-body">
				<table class="table table-condensed">
					<thead>
						<tr><th>Group A</th><th>Group B</th></tr>
					</thead>
					<tbody>
						<tr><td>Rogers, Greg</td>	<td>Louka, Rob</td></tr>
						<tr><td>Murphy, Dave</td>	<td>Dixon, Doug</td></tr>
						<tr><td>Dixon, Jeremy</td>	<td>Tornetta, Keith</td></tr>
						<tr><td>Radtke, Mark</td>	<td>Benchoff, AJ</td></tr>
						<tr><td>Pearson, Jeff</td>	<td>Beltran, Jose</td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Pool</h3>
			</div>
			<div class="panel-body">
				<table class="table table-condensed">
					<thead>
						<tr><th>Group A</th><th>Group B</th></tr>
					</thead>
					<tbody>
						<tr><td>Murphy, Dave</td>	<td>Dixon, Doug</td></tr>
						<tr><td>Tornetta, Keith</td>	<td>Rogers, Greg</td></tr>
						<tr><td>Radtke, Mark</td>	<td>Benchoff, AJ</td></tr>
						<tr><td>Louka, Rob</td>	<td>Dixon, Jeremy</td></tr>
						<tr><td>Pearson, Jeff</td>	<td>Beltran, Jose</td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Shuffle Board</h3>
			</div>
			<div class="panel-body">
				<table class="table table-condensed">
					<thead>
						<tr><th>Group A</th><th>Group B</th></tr>
					</thead>
					<tbody>
						<tr><td>Dixon, Jeremy</td>	<td>Murphy, Dave</td></tr>
						<tr><td>Dixon, Doug</td>	<td>Louka, Rob</td></tr>
						<tr><td>Rogers, Greg</td>	<td>Radtke, Mark</td></tr>
						<tr><td>Benchoff, AJ</td>	<td>Tornetta, Keith</td></tr>
						<tr><td>Pearson, Jeff</td>	<td>Beltran, Jose</td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>