<% title "Rules - Shuffleboard - BGO" %>
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Shuffleboard Rules <small>BGO IX / 2015</small></h1>
		</div>

		<p class="lead">
			In general, shuffleboard play will be governed by the rules 
			found here:
			<a href="http://www.recroom-products.com/shufofruland.html" target="_blank">
			shuffleboard Rules</a>.
		</p>

		<ul>
			<li>All matches will be played 1 game to 15 using 1-2-3-4-5 scoring.</li>
			<li>You do not need to win by 2.</li>
			<li>Time permitting, the BGOC will consider extending medal round matches
			to best 2 of 3 games.</li>
		</ul>
	</div>
	<br/>
</div>

