<% title "Rules - Darts - BGO" %>
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Darts Rules <small>BGO IX / 2015</small></h1>
		</div>

		<p class="lead">
			Individual games and general play will be governed by the 
			<a href="http://www.dartswdf.com/wp-content/uploads/2010/12/WDF-Playing-Tournament-Rules.pdf" target="_blank">
			rules of the World Dart Federation (WDF)</a> with the following highlights/exceptions:
		</p>

		<ul>
			<li>A match will be the best 2 of 3 games.&nbsp; Perhaps obvious, but if someone 
			wins the first two games, the third is not played.</li>

			<li>At the beginning of each match, each athlete will throw one dart.&nbsp; The 
			closest to the bulls-eye goes first in games 1 &amp; 3, the other player goes first 
			in game 2.&nbsp; Two bulls-eyes are a tie and darts are re-thrown.&nbsp; All 
			single bulls are equivalent, as are double bulls, but a double beats a single.</li>
			
			<li>There are no &quot;equal dart&quot; rules.&nbsp; Whoever goes out first, wins.</li>

			<li>All games are played double-in, double-out.</li>

		</ul>


	</div>
	<br/>
</div>

