<% title "Rules - Pool - BGO" %>
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Pool Rules <small>BGO IX / 2015</small></h1>
		</div>

			<p class="lead">In general, pool play will be governed by the rules 
			accepted by the Billiard Congress of America.&nbsp; The complete specification 
			can be found here:
			
			<a href="http://home.bca-pool.com/displaycommon.cfm?an=1&amp;subarticlenbr=54" target="_blank">
			BCA Pool Rules</a> -- in particular Sections 1, 3, &amp; 6.</p>

			<p class="lead">There are, however, a few rules that deserve highlighting:</p>
			<ul>
			
			<li>
			Players must call &quot;ball &amp; pocket&quot;.&nbsp; That is, on each shot you must declare 
			which ball you intend to sink and in which pocket it will go.&nbsp; As long as 
			no other rule is violated (e.g. hitting your opponents ball first), it doesn&#39;t 
			matter how the ball gets there.&nbsp; If you were intending to hit it straight 
			in and it hits 22 rails on the way, it&#39;s still a legal shot if it goes in the 
			right pocket.
			</li>
			
			<li>No balls (other than the cue ball) ever return to the table once pocketed.&nbsp; 
			You lose your turn if a ball was pocketed illegally, but the ball stays down.</li>
			
			<li>All fouls, after the break, result in &quot;ball in hand&quot; anywhere on the table.&nbsp; 
			The notion of having to play a ball from behind the head string only applies 
			during the break.</li>
			
			<li>In general, on each shot, the player must hit one of his own balls first.&nbsp; 
			Then, either one of his balls or the cue ball must touch a rail (or be 
			pocketed).&nbsp; Otherwise the shot is not legal and his opponent gets ball in 
			hand.</li>
			
			<li>Scratching when shooting the 8-ball is not an immediate loss unless you 
			pocket the 8-ball as well.
			</li>
			
			</ul>
	</div>
	<br/>
</div>


