<% title "Rules - Foosball - BGO" %>
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Foosball Rules <small>BGO IX / 2015</small></h1>
		</div>

			<p class="lead">Here are the basic rules we will follow:</p>
			<ul>
			
				<li>The event will consist of two stages: the round robin and medal rounds. Round 
				robin matches will be one game played to 9 points.&nbsp; Medal round matches 
				will be best 2 of 3 games played to 7 points.&nbsp; All games must be won by two 
				points.
				</li>
			
				<li>The players decide a method to determine who serves first in game one (e.g. 
				coinflip, rock-paper-scissors, etc).&nbsp;</li>
				<li>After each goal, the player scored on serves the next ball.&nbsp; This carries from game to 
				game -- so, the loser of a game server first the next game.</li>

				<li>The server may propel the 
				ball through the serving hole in any way he chooses -- including methods 
				intended to direct the ball towards his men (spinning, pushing, etc).</li>

				<li>No spinning the rods.</li>

				<li>All goals count (regardless of from where they are shot, deflections, banks 
				etc).</li>

				<li>Dead balls (unreachable by any player) are moved backwards to the nearest 
				defensive players rod.</li>
			
			</ul>
	</div>
	<br/>
</div>

