<% title "Rules - Ping Pong - BGO" %>
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Ping Pong Rules <small>BGO X / 2016</small></h1>
		</div>

		<p class="lead">In general, ping pong play will be governed by the rules 
		accepted by the USATT &amp; ITTF.&nbsp; The complete specification 
		can be found here:
		<a href="http://www.paddlepalace.com/Manuals/Rules_usatt.pdf" target="_blank">
		USATT Rules</a>.</p>
		
		<p class="lead">There are, however, a few rules that deserve highlighting:</p>
		<ul>
			<li>Matches are best 3 of 5 games to 11 points (win by 2).</li>

			<li>Server of the first game is determined by the winner of a single rally.  The ball must cross
			the net 3 times for the rally to be valid.  In subsequent games, the loser of the prior game serves
			first.
			</li>

			<li>Players switch service after every 2 points.&nbsp; If a game is tied 10-10, 
			players alternate service after every point until someone wins.</li>
		
			<li>When serving, players must toss the ball up at least 5 inches into the air.&nbsp; 
			You are not allowed to hit it directly out of your hand -- IT MUST BE TOSSED!&nbsp; 
			Also, the ball must be served from completely behind the server&#39;s end line.</li>

			<li>A player forfeits the point immediately if he moves the table, or touches 
			the table with the non-paddle hand.&nbsp; They also lose the point immediately 
			if the ball hits their finger or hand.</li>

		</ul>
	</div>
	<br/>
</div>


