<% title "Rules - Golden Tee - BGO" %>
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Golden Tee Rules <small>BGO IX / 2015</small></h1>
		</div>

			<p class="lead">There are no additional rules, per se, to Golden Tee -- the game is the game as 
			served up by the machine.</p>

			<p class="lead">Just a couple notes and guidelines about the event:</p>

			<ul>
				<li>
				The event will consist of two stages: two qualifying rounds and a standard medal round bracket. For each qualifying round, players will pair off one player from Group A and one from Group B. Players may not play with the same partners in both qualifying rounds.
				</li>
			
				<li>The course on which each qualifying round match will be played will be randomly determined before the event begins. This information will be given to you when you are assigned to play GT.
				</li>

				<li>
				The top four scores from the qualifying round will advance to the medal round.
				</li>

				<li>
				In the event of a tie for the 4th position, participants will play a sudden death match on a randomly determined course. Players will randomly determine the player to hit first, and will then alternate teeing off first until a winner is determined. (Note that this means you will alternate playing the blue and red golfer- pay attention!) The first player to lose a hole is eliminated.
				</li>

				<li>
				Before each medal round match, the control ball will be spun to determine the course. This is done before all medal round matches -- that is, each medal round match could be played on a different course. If both players agree to play a specific course, the spin is skipped and the selected course is played.
				</li>

				<li>
				At no time should there be any discussion between players of how any shot or hole should be played. Casual discussion about the game and match is, of course, allowed. But no conversation should take place that could be interpreted as "help" or "advice" on how to play -- mechanically or strategically.
				</li>

				<li>
				Non-players are not allowed to “scout” the course or examine current scores until they have completed both preliminary rounds. Further, once the BGO begins no one is allowed to play for fun (practice) until they have completed both preliminary rounds.
				</li>		
			</ul>
	</div>
	<br/>
</div>


