<h3>Live Standings</h3>

<table class="table">

	<thead>
		<tr>
			<th>Athlete</th>
			<% Sport.order(:name).each do |sport| %>
				<th><%= sport.name %></th>
			<% end %>
			<th>Total</th>
		</tr>
	</thead>

	<tbody>

	<% @standings.athletes_ordered_by(:total).each do |athlete| %>

		<% total_points = 0 %>

		<tr>
			<td><%= athlete.full_name %></td>
			<% Sport.order(:name).each do |sport| %>
				<% event_points = @standings.points(athlete,sport) %>
				<% total_points = total_points + event_points %>
				<td><%= event_points %></td>
			<% end %>
			<td><%= total_points %></td>
		</tr>

	<% end %>

	</tbody>

</table>